.widgetContainer {
    display: flex;
    resize: both;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-height: 45vh;
    max-width: 50%;
    margin: 10px;
}

.widgetContainer:only-child {
    display: flex;
    width: auto;
}

.widgetContent {
    background-color: blue;
}

